h1 {
	color: #fff;
	font-family: impact;
}

#post-job h2{
	color: #3e4651;
	font-size: 35px;
	margin: 2% 0 2% 33%;
}

#post-job .no-feedbacks{
	margin: 2% 0 2% 23%;
}

#post-job #search-offers  {
	margin: 2% 0 2% 33%;
}

.post-job {
	margin-left: 33%;
}

.view-job, 
.view-offers {
	margin-left: 0%;
}

.view-from {
	margin-left: 0;
}

/*.search-job {
	margin-left: 23%;
}
*/

.no-jobs {
	margin-left: 40%;
	font-size: 18px;
}

.my-messages,
.my-feedbacks {
	margin-left: 20%;
}

.table-messages {
	width: 80%; 
	margin-top: 20px;
	border-collapse: collapse;
	-webkit-box-shadow: 0px 2px 30px 5px rgba(112,112,112,1);
	-moz-box-shadow: 0px 2px 30px 5px rgba(112,112,112,1);
	box-shadow: 0px 2px 30px 5px rgba(112,112,112,1);
}

.table-messages td{
	font-size: 18px;
	padding: 10px 15px;
}

.table-messages th {
	text-align: left;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 600;
}

.table-messages tr {
	border-bottom: 1px solid #3e4651;
}

.my-jobs,
.working-jobs {
	margin-left: 0;
}

#post-job input {
	display: block;
	width: 500px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

#post-job textarea,
#signup textarea {
	width: 500px;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

#signup textarea {
	width: 320px;
	height: 100px;
	display: inherit;
}

.categories {
	/*text-align-last:center;*/
	display: block;
	width: 525px;
	padding: 10px;
	font-size: 16px;
	color: #3e4651;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

.country-option {
	width: 340px;
}

#signup .save-avatar {
	cursor: pointer;
    width: 150px;
    margin: 5px 0;
	background-color: #FFA500;
	display: inline-block;
}

.profile-options label {
	font-size: 18px;
    font-weight: 600;
}

.search-job .categories {
	display: inline;
	width: 235px;
	cursor: pointer;
}

/*.categories option {
	text-align: center;
	color: #000;
}*/

#post-job input[name=title] {
	color: #3e4651;
	width: 500px;
}

#post-job #post-job-btn {
	background: #FFA500;
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin: 2% 13%;
	cursor: pointer;
}

.post-job-account p {
	font-size: 18px;
}

.post-job-account {
	color: #3e4651;
	margin-left: 33%;
}

.post-job-account a {
	color: #3e4651;
}

.post-job-account a:hover {
	color: #FFA500;
}

